  <nav class="nav">
    <ul>
      <li class="personIcon"><%= link_to(content_tag(:i, "", class: 'fas fa-2x fa-user'), user_path(current_user.id)) %></li>
      <li class="appIcon"><%= link_to(content_tag(:i, "", class: 'far fa-2x fa-handshake'), root_path(current_user.id)) %></li>
      <%# <li class="messageIcon"><%= link_to(content_tag(:i, "", class: 'fas fa-2x fa-comments'), matching_index_path) %>
    </ul>
  </nav>
      <% @users.each do |user| %>
        <div class="col-md-8 col-md-2 mx-auto">
          <div class="card-wrap">
            <div class="card">
              <div class="card-header align-items-center d-flex">
                  <strong><%= user.name %></strong>
              </div>
              <%= image_tag user.img_name.url, class: "card-img-top" %>
              <div class="card-body">
                <span><strong><%= user.self_introduction %></strong></span>
                <div class="row parts">
                  <%= link_to "", "#", class: "love" %>
                  <%= link_to "", "#", class: "comment" %>
                </div>
                <div><strong>「いいね！」10件</strong></div>
                <div>
                  <hr>
                  <div class="row parts">
                    <form action="#" class="w-100">
                      <div>
                        <textarea class="form-control comment-input border-0" placeholder="コメント..." rows="1"></textarea>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>