<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">ログイン</label>
		<input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">パスワードを忘れた場合</label>
		<div class="login-form">
			<div class="sign-in-htm">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="group">
            <%# <label for="user" class="label">Username or Email</label>
            <input id="user" type="text" class="input"> %>
            <%= f.label :email, class: "label" %><br />
            <%= f.email_field :email, autofocus: true, class: "input", autocomplete: "email"%>
          </div>
          <div class="group">
            <%# <label for="pass" class="label">Password</label>
            <input id="pass" type="password" class="input" data-type="password"> %>
            <%= f.label :password, class: "label" %><br />
            <%= f.password_field :password, class: "input", autocomplete: "off", placeholder: "パスワードを入力してください" %>
          </div>
          <div class="group">
            <%# <input type="submit" class="button" value="Sign In"> %>
            <%= f.submit "ログインする", class: "button" %>
          </div>
          <div class="hr"></div>
        <% end %>
			</div>
			<div class="for-pwd-htm">
				<div class="group">
					<label for="user" class="label">ユーザーネームまたはパスワード</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Reset Password">
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</div>
</div>
